//----------------------------------------
//  Constants
//----------------------------------------
$mainbodyFontSize: 16px;
$mainColor: #207AD4;

$maxWidth: 1200px;
$tabletWidth: 960px;
$mobileWidth: 600px;


//----------------------------------------
//  Element Rules
//----------------------------------------
html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

p {
  color: $mainColor;
  flex:1;
  margin: 0 2rem 0 2rem;
  min-width: 20rem;
  padding: .5rem 0 0 1rem;
  font-family: arial;
}

img {
  width: 95%;
}

//----------------------------------------
//  Class Rules
//----------------------------------------

.tshirt-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.tshirt {
  border: 1px solid $mainColor;
  flex: 1;
  margin: 1rem 2rem 0 2rem;
  min-width: 17rem;
  max-width: 20rem;
  padding: 20rem 2rem 0 2rem;
}

.nav {
  border-top: none;
  margin: 0 2rem 0 2rem;
  min-width: 17rem;
  max-width: 20rem;
  padding: 0;
}

.nav ul {
  display: flex;
  flex-direction: row;
  height: 3rem;
  margin: 0;
  padding: 0;
}

.nav li {
  border: 1px solid $mainColor;
  color: $mainColor;
  flex: 1;
  list-style-type: none;
  margin: 0 auto;
  padding: .8rem 0 .5rem 0;
  text-align: center;
}

.nav li:hover {
  color: white;
  background-color: $mainColor;
}

.nav-wrapper {
  width: 33.33%;
}

.basket img {
  padding: .3rem 0 0 0;
  width: 1rem;
}

.pinkBlock {
  color: pink;
}

.orangeBlock {
  color: orange;
}

.greenBlock {
  color: green;
}

.blueBlock {
  color: $mainColor;
}

.dropdown-content {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  padding: 1rem;
  z-index: 2;
}

.dropdown-content a {
  text-decoration: none;
  flex: 1;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.size:hover .dropdown-content {
  display: block;
}

.block:hover .dropdown-content {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  perspective: 1000px;
}

.image-container.flipped .shirt-image, .image-container:hover .shirt-image {
  transform: rotateY(180deg);
}

.shirt-image {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  min-width: 17rem;
  max-width: 20rem;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  bottom: 50px;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

//---------------------------------------
//  Tablet Rules
//----------------------------------------
@media only screen and (max-width: $tabletWidth) {
  .nav-wrapper {
    width: 50%;
  }
}

//----------------------------------------
//  Mobile Rules
//----------------------------------------

@media only screen and (max-width: $mobileWidth) {
  .tshirt-wrapper {
    flex-direction: column;
  }

  .nav-wrapper {
    width: 80%;
  }

}
